*{
    margin: 0px;
   font-family: "inter";
  
}

#LOGO{
    margin-top: 25px;
    margin-left: 50px;
}

#titulo-menu-superior{
        margin-left: 50px;
        margin-top: 75px;
        font-size: 65px;
}
#testo-menu-superior{
    margin-left: 50px;
    margin-top: 15px;
    padding-bottom: 100px;
    font-size: 25px;

}
#parte1{
    color: white;
    background-image: url(IMAGENS/fundo.svg);

}
#menuinformacional{
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
}

.icones{
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;

   

    margin: 50px 0px 50px 50px;
    padding: 10px;
    
}
  #partechata{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
  }
  
 #tutulo1{
    font-size: 40px;
    margin: 175px 25px 50px 25px
    
    

    }

 #texto1{
    margin: 0px 25px 50px 25px;
    font-size: 25px;
 }

 #foto1{
    
    margin-left: 0px;
    margin-left: 100px;
    margin-bottom: 100px;
    
 }

 #formulario2{
 text-align: center;
 background-color: #303030;
 }

 #tituloformulario{
  
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 30px;
    color: white;
    background-color: #303030;
    height: 100px;
   

 }

 input{
    width: 300px;
    height: 40px;
    background-color: #ffff;
    margin: 15px;
    border-radius: 5px;
    padding-left: 10px;
 }

 button{
    background-color: #c07212;
    width:200px;
    height: 50px;
    border-radius: 15px;
    padding: 25px;
    color: white;
    font-family: "inte";
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
 }
 button:hover{
    background-color: #df9c4b;
    color: bisque;
    transform: translateY(0px);
    box-shadow: 0px 15px 20px #b1680f60;
    transition-duration: 0,5s;
    

 }
 #fale{
    font-size: 10px;
 }
 
 